@import url(tokens.css);
@import url(semantic.css);
@import "tailwindcss";
/* @import url(base.css); */

@theme {
    --color-brand: var(--semantic-brand);
    --color-brand-hover:var(--semantic-brand-hover);
    --color-brand-soft: var(--semantic-brand-soft);
    --color-backgraund: var(--semantic-primary-50);
    --color-surface: var(--semantic-surface);
    --color-surface: var(--semantic-surface);
    --color-text-primary: var(--semantic-text-primary);
    --color-text-secundary: var(--semantic-text-secundary);
    --color-text-mute: var(--semantic-text-mute);
    --color-text-inverse: var(--semantic-text-inverse);
    --color-border: var(--semantic-border);
    --color-border-strong: var(--semantic-border-strong);
    --color-warning: var(--semantic-warning);

}