@import url(tokens.css);
@import url(semantic.css);
/* @import url(base.css); */
@import "tailwindcss";

@theme {
    --color-brand: var(--color-primary-200);
    --color-brand-hover:var(--color-primary-800);
    --color-brand-soft: var(--color-primary-300);
    --color-backgraund: var(--color-primary-50);
    --color-surface: var(--white);
    --color-surface: var(--color-primary-200);
    --color-text-primary: var(--color-gray-900);
    --color-text-secundary: var(--color-gray-700);
    --color-text-mute: var(--color-gray-500);
    --color-text-inverse: var(--white);
    --color-border: var(--color-gray-700);
    --color-border-strong: var(--color-primary-700);
    --color-warning: var(--color-secundary-600);

}