

/* Son roles de la interfaz */

:root {

    /*  *************BRAND********* */

    --semantic-brand: var(--color-primary-200); /*color principal del proyecto*/
    --semantic-brand-hover:var(--color-primary-800); /*generalmente es de un tomo mas oscuro*/
    --semantic-brand-soft: var(--color-primary-100);

    /* ************BACKGROUND******** */

    --semantic-backgraund: var(--color-primary-50); /*Fondo estructural de todo el proyecto*/
    --semantic-surface: var(--white); /* Fondo de modales, cards, containers*/
    --semantic-surface: var(--color-primary-200); /* Zonas secundarias, con menos importancia*/
    
    /* *********TEXT******** */
    --semantic-text-primary: var(--color-gray-900); /*color principal de lectura*/
    --semantic-text-secundary: var(--color-gray-700); /*Textos menos importantes*/
    --semantic-text-mute: var(--color-gray-500); /*Texto desabilitado*/
    --semantic-text-inverse: var(--white); /*texto invertido*/

    /* *********BORDER***** */

    --semantic-border: var(--color-gray-700); /*Borde principal de los componentes*/
    --semantic-border-strong: var(--color-primary-700); /*borde fuerte (de mayor contraste)*/

    /* *********STATE******** */

    --semantic-warning: var(--color-secundary-600); /*color para alertas*/

    /* ************************************ */
    /* YA NO DEPENDEMOS DE NOMBRE DE COLOR,
            DEPENDEMOS DE INTENCIÓN */
    /* ************************************ */

}